S3_BUCKET=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_ENDPOINT=
S3_REGION=
S3_SECURE=
S3_FORCEPATHSTYLE=
S3_ROOTDIRECTORY=
UI_PORT=
SRC_REGISTRY=http://localhost:5000
SRC_USER=
SRC_PASSWORD=
DST_REGISTRY=
DST_SCHEME=https
DST_USER=
DST_PASSWORD=
COPY_INTERVAL=3600