version: 1
creds:
  - registry: "{{env \"SRC_REGISTRY\"}}"
    tls: "{{env \"SRC_TLS\"}}"
    user: "{{env \"SRC_USER\"}}"
    pass: "{{env \"SRC_PASSWORD\"}}"
  - registry: "{{env \"DST_REGISTRY\"}}"
    tls: "{{env \"DST_TLS\"}}"
    user: "{{env \"DST_USER\"}}"
    pass: "{{env \"DST_PASSWORD\"}}"

sync:
  - source: "{{env \"SRC_REGISTRY\"}}"
    target: "{{env \"DST_REGISTRY\"}}"
    type: registry
    interval: "{{env \"COPY_INTERVAL\"}}"